body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: rgb(105, 225, 225);
    color: rgb(4, 110, 110);
}

#main-head, .head {
    text-align: center;
    background-color:rgb(232, 188, 171);
}

#main-head {
    font-size: 40px;
}

.list {
    background-color: beige;
}

div {
    background-color:rgb(215, 215, 225);
    width: 420px;
    font-size: 20px;
}

a {
    background-color: azure;
}

img {
    width: 400px;
    height: auto;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}