body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: rgb(191, 240, 240);
    color: rgb(106, 106, 223);
    
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color:deepskyblue;
    padding: 8px;
    margin: auto ;
    width: 350px;
    border: 2px solid rgb(125, 46, 198);
    display: block;
}



.para {
    background-color:rgb(94, 197, 231);
    padding: 8px;
    border: 2px solid rgb(106, 106, 223) ;
    margin-top: 30px;
    margin-left: 450px ;
    width: 500px;
    

}

p {
    text-align: center;
    font-size: 18px;
}


.list {
    background-color:rgb(94, 197, 231);
    padding: 8px;
    border: 2px solid rgb(106, 106, 223);
    margin-top: 15px;
    width: 500px;
    margin-left: 450px;
    margin-bottom: 40px

    
}

ul {
   font-size: 18px; 
    
}

img {
    width: 450px;
    height: auto;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(125, 46, 198);

}






