body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: rgb(105, 225, 225);
    color: rgb(4, 110, 110);
}

 div {
    background-color:rgb(236, 240, 243)
    
    
}

p {
    font-size: 20px;
    
    
}

h1 {
    text-align: center;
}

img {
    width: 450px;
    height: auto;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
