body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: rgb(191, 240, 240);
    color: rgb(16, 145, 145);
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color:rgb(229, 165, 140);
    padding: 8px;
    margin: auto ;
    width: 350px;
    border: 2px solid rgb(29, 153, 202);

}



div {
    background-color:rgb(236, 240, 243)
    
    
}

p {
    font-size: 20px;
    
    
}




ul {
    background-color: beige;
}

img {
    width: 450px;
    height: auto;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}






